body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  margin: 0;
  padding: 0;
}

header {
  background-color: #1e293b;
  color: white;
  padding: 30px;
  text-align: center;
}

section {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
}

h2 {
  color: #1e293b;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  padding: 0;
}

.skills li {
  background: #e2e8f0;
  padding: 8px 12px;
  border-radius: 5px;
}

.project {
  margin-bottom: 15px;
}

footer {
  text-align: center;
  padding: 15px;
  background: #1e293b;
  color: white;
}
.profile-pic {
  width: 150px;
  height: 170px;
  border-radius: 60%;
  object-fit: cover;
  border: 4px solid white;
  margin-bottom: 15px;
}
.resume-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 16px;
  background-color: #16a34a;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
}

.resume-btn:hover {
  background-color: #15803d;
}
nav {
  background-color: #1e293b;
  padding: 10px;
}

.nav-links {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  text-decoration: underline;
}